<fieldset>
    <legend>Permissões excedentes</legend>
    <div class='row'>
        <div class='col-lg-12'>
            <div data-permissao-excedente>
            </div>
        </div>
    </div>
    <legend>Permissões ausentes</legend>
    <div class="row">
        <div class='col-lg-12'>
            <div data-permissao-ausente>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-lg-12 top-bar'>
            <h4>Como resolver isso?</h4>
            <div class='alert alert-warning'>
                Caso deseje ajustar <b>todos</b> os usuários customizados do tipo <b data-display-usuario-descricao></b>
                ao perfil atual do tipo de usuário clique no botão <b>Forçar ajuste de usuários ao perfil</b> sobre a grade de usuários vinculados.
            </div>
        </div>
    </div>

    <button data-show-diff title='Visualizar inconsistências.' type='button'
            class='btn btn-warning escondido'>
        <i class='fa fa-warning'></i>
    </button>
    <p data-permissao-ausente-item class="escondido"></p>
    <p data-permissao-excedente-item class="escondido"></p>
</fieldset>



