<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirma o afastamento?</h4>
            </div>
            <div class="modal-body">
                <p>Você deseja realmente afastar o usuário <b data-usuario></b>?</p>
            </div>
            <div class="modal-footer">
                <button data-btn-afastar title="Clique aqui para confirmar o afastamento do usuário" type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> Confirmar</button>
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>