<div class="modal fade" data-alertDialogErroRedirect tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-warning vermelho"></i> Problemas!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8" data-alertDialogErroRedirectMensagemContent>
                        <p>@ViewData["AlertDialogErroRedirectText"]</p>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" onclick="$(this).attr('disabled', 'true'); $(this).text('Aguarde');" data-alertDialogErroRedirectUrl href="@ViewData["AlertDialogErroRedirectUrl"]" >OK</a>
                </div>
            </div>
    </div>
</div>