<div id="visualizadorImagem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Visualizador de imagens</h4>
            </div>
            <div class="modal-body">
                <img alt="" id="imgModal" src="" class="visualizador-imagem center-block" />
            </div>
            <div class="modal-footer">
                <a id="alertDialogYesNoIdNo" href="#" class="btn btn-default" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>